
<!DOCTYPE HTML>
<html>
<head>
    <title>Simulation Technology in Healthcare</title>
    <link href="css/style.css" rel="stylesheet" type="text/css" media="all"/>
    <link href='http://fonts.googleapis.com/css?family=Ropa+Sans' rel='stylesheet' type='text/css'>
</head>
<body>
<!--start-wrap-->

<!--start-header-->
			<div class="header">
				<div class="wrap">
				<!--start-logo-->
				<div class="logo">
					<a href="/"><img src="images/mainLogo140x140.png" title="logo" /></a>
				</div>
				<!--end-logo-->
				<!--start-top-nav-->
				<div class="top-nav">
					<ul>
						<li><a href="/">Home</a></li>
						<li class="active"><a href="/about">About</a></li>
						<li><a href="/services">services</a></li>
						<li><a href="/blogs">blogs</a></li>
						<li><a href="/contacts">contact</a></li>
					</ul>					
				</div>
				<div class="clear"> </div>
				<!--end-top-nav-->
			</div>
			<!--end-header-->
		</div>
		<div class="clear"> </div>

<div class="wrap">
    <div class="about">
        <center><h4>About Us</h4></center><br><br>
        <div class="content-box">
            <div class="section group">
                <div class="col_1_of_3 span_1_of_3 frist">
                    <h3>Big Data for Healthcare</h3>
                    <iframe width="350" height="300" src="https://www.youtube.com/embed/wOwept5WlWM" frameborder="0"
                            allowfullscreen></iframe>
                    <p>Big data has enabled huge savings with about more than 300 billion in a year. Expenditure in
                        clinical is the maximum with about 108 billion. This is in waste if the figure goes increasing
                        each year. According to Loudhouse, commissioned by SAP, many businesses in United States and
                        United Kingdom are investing in big data analytics. It has been found that 78% of the businesses
                        in United States will be making it as a priority in 5 years and thus 88% of the business agree
                        that big data analytics minimizes risk. 94% of organizations in US that have been using big data
                        analytics in healthcare environment, has showed positive impact on their businesses. "A big data
                        revolution is on the way in health care environment starting with the vastly increased supply of
                        information. Recent technical advances have also made it quite easier to collect and analyze the
                        data and information from across multiple sources."</p>
                    <p>Johns Hopkins researchers are spending $600,000 grant to build a databank on cloud from the
                        pediatric MRI medical image data which helps predict abnormalities in patient. The large amount
                        of medical image data from this databank can be used by the doctors to compare image that help
                        identify abnormalities in the patients records over a period of time and identify new
                        discoveries at the exact location in the brain. They are creating data bank of pediatric brain
                        MRI that will allow doctor to diagnose disorders like psychiatric or epilepsy based on previous
                        brain MRI of children's with similar disorders. Medical MRI image data helps doctor make a
                        detail study of brain structure and record latest change in structure that is causing the
                        disorder. This databank acts as search engines in medical industry like Yahoo or Google. These
                        images contain all diagnostic details of psychiatric, epilepsy or infections. Image contains
                        details of 250 regions of the brain's structural measurement.</p>
                </div>
                <div class="col_1_of_3 span_1_of_3 second">
                    <h3>Our Mission</h3>
                    <p>Big data is developing rapidly in the field of technology that has increased the demand for
                        processing huge streams of data. It has also led to finding new and appropriate ways of storing
                        and analyzing this type of data. In-depth assessment of large quantities of data is equally
                        important in order to provide awareness, especially when big data applications are being
                        developed for government and medical purposes. Simulation helps in understanding the behavior of
                        real world scenarios by replicating them in the form of models and then studying them. It
                        includes various techniques that generate big data. These techniques would help researchers to
                        display and manage numerous data variables at the same time. This is aided by the use of
                        data-fusion tools that not only bring the information together from a variety of sources, but
                        also help in determining the results of what happens to other sources on changing the parameter
                        of another.
                        In this project, we will be making use of both big data and simulation techniques to come up
                        with a system that aims at improving the healthcare industry. Healthcare is a pivotal industry
                        that provides for billions of people all around the world. Through our application, we would
                        create simulations of machines used in the healthcare industry like MRI scan, CT scan, X-ray
                        scan that would allow trainee nurses and doctors to practice on them before performing actual
                        operations on real patients. This would significantly reduce the number of deaths due to human
                        negligence and help improve the efficiency of healthcare providers.
                    </p>
                    <p>Simulation helps in understanding the behavior of real world scenarios by replicating them in the
                        form of models and then studying them. Simulation has been long used in flight and military
                        applications as a form of training before actually entering the field. This has proved to
                        considerably reduce human error on field. Furthermore, advancement in technology has led to even
                        more accurate modeling of the real world and improved simulation results. Similar means of
                        training and application can also be used in the field of healthcare in achieving the desired
                        results.
                        Computer based medical simulation provides training in the form of tools where trainees can
                        practice until they think they have achieved efficiency. This includes a simulated environment,
                        similar to the flight simulation ones, in which the trainees can operate on dummy patients that
                        are modeled on real-life ones that respond to the various devices that monitor blood pressure,
                        respiration, pulse rate. Other methods include software programs that evaluate trainee's
                        judgements based on wide variety of factors and circumstances. This is beneficial not only to
                        the trainees, but to patients as well as they will be under the care of highly trained
                        professionals, thereby reducing medical errors and increasing the overall efficiency in the
                        healthcare industry.
                    </p>
                </div>
                <div class="col_1_of_3 span_1_of_3 frist">
                    <center><h3>Our Staff</h3></center>
                    <center><img src="images/weider_snap.JPG" width="220px" height="200"/></center>
                    <h4 align="center">Prof. Dr. Weider Yu</h4><br>
                    <center><img src="images/ameya.jpg" width="220px" height="200"/></center>
                    <h4 align="center">Ameya Manjrekar</h4><br>
                    <center><img src="images/kavya.jpg" width="220px" height="200"/></center>
                    <h4 align="center">Kavya Chandradhara</h4><br>
                    <center><img src="images/myPic.jpg" align="middle" width="220px" height="200"/></center>
                    <h4 align="center">Pranav Dhapke</h4><br>
                    <center><img src="images/priyanka.jpg" width="220px" height="200"/></center>
                    <h4 align="center">Priyanka Bhansali</h4>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="clear"></div>
<div class="footer">
    <div class="wrap">
        <div class="footer-left">
            <ul>
                <li><a href="/">Home</a></li>
				<li><a href="/about">About</a></li>
				<li><a href="/services">services</a></li>
				<li><a href="/blogs">blogs</a></li>
				<li><a href="/contacts">contact</a></li>
            </ul>
        </div>
        <div class="footer-right">
            <p>MediCo | Design By MediCo</p>
        </div>
        <div class="clear"></div>
    </div>
</div>
<!--end-wrap-->
</body>
</html>

