
<!DOCTYPE HTML>
<html>
<head>
    <title>Simulation in Healthcare</title>
    <link href="css/style.css" rel="stylesheet" type="text/css" media="all"/>
    <link href='http://fonts.googleapis.com/css?family=Ropa+Sans' rel='stylesheet' type='text/css'>
</head>
<body>
<!--start-wrap-->

<!--start-header-->
			<div class="header">
				<div class="wrap">
				<!--start-logo-->
				<div class="logo">
					<a href="/"><img src="images/mainLogo140x140.png" title="logo" /></a>
				</div>
				<!--end-logo-->
				<!--start-top-nav-->
				<div class="top-nav">
					<ul>
						<li><a href="/">Home</a></li>
						<li><a href="/about">About</a></li>
						<li><a href="/services">services</a></li>
						<li class="active"><a href="/blogs">blog</a></li>
						<li><a href="/contacts">contact</a></li>
					</ul>					
				</div>
				<div class="clear"> </div>
				<!--end-top-nav-->
			</div>
			<!--end-header-->
		</div>
		<div class="clear"> </div>
<div class="wrap">
    <div class="blog">
        <div class="blog-grid">
            <center><h4>Blogs</h4></center><br><br>
            <div class="blog-grid-header">
                <h3>The Global
                    Asthma Report
                    2014</h3>
                <ul>
                    <li><img src="images/cal.png" alt=""><a href="#">August 2014</a></li>
                    <li><img src="images/admin.png" alt=""><a href="#">Global Asthma Network</a></li>
                </ul>
            </div>
            <div class="image group">
                <div class="grid images_3_of_1">
                    <img src="images/global asthama report.png" height="350px" width="550px">
                </div>
                <div class="grid span_2_of_3">
                    <p>While estimating the number of people in the world with asthma
                        remains difficult due to the many gaps in the data, the Global
                        Burden of Diseases Study (GBD) published in 2012 gave us the
                        latest estimate of asthma prevalence, indicating that as many as
                        334 million people in the world have asthma, and that the related
                        burden is high.
                        Since 2012, WHO has published guidelines for the prevention and
                        control of asthma in primary health care in low-resource settings.
                        Guidelines on asthma from other organisations, including the Global
                        Initiative on Asthma (GINA), have been updated. The European
                        Academy of Allergy and Clinical Immunology (EAACI) has published
                        a Global Atlas of Asthma. The Forum of International Respiratory
                        Societies (FIRS) has published its report "Respiratory diseases in
                        the world. Realities of today - opportunities for tomorrow", which
                        highlights asthma as one of the top 5 respiratory diseases in the
                        world.
                        All these activities, concerns, developments and knowledge
                        inform contents of the Global Asthma Report 2014 and its
                        recommendations. We hope you will find it useful. We will continue
                        to work together to increase the worldwide understanding of this
                        disease, and to reduce the burden and suffering from asthma, over
                        the next few years.</p>
                    <div class="button"><span><a
                            href="http://www.globalasthmareport.org/resources/Global_Asthma_Report_2014.pdf" download>Download Article</a></span>
                    </div>
                </div>
            </div>

        </div>
        <div class="blog-grid">
            <div class="blog-grid-header">
                <h3>Building a Health Care Data
                    Warehouse for Cancer Diseases</h3>
                <ul>
                    <li><img src="images/cal.png" alt=""><a href="#">October 2012</a></li>
                    <li><img src="images/admin.png" alt=""><a href="#">Dr. Osama E.Sheta and Ahmed Nour Eldeen</a></li>
                </ul>
            </div>
            <div class="image group">
                <div class="grid images_3_of_1">
                    <img src="images/cancerwarehouse.png" height="350px" width="600px">
                </div>
                <div class="grid span_2_of_3">
                    <p>The healthcare industry is one of the world's largest, fastest-developing and most
                        information-rich industries.The growing need for integrated healthcare has led this industry to
                        open towards adoption of extensive healthcare decision support systems. Information technology
                        in health care is still a topical subject, has stimulated developments in physician order entry,
                        decision support systems and shared patient records. Despite all the efforts, many health care
                        organizations still have stand-alone information systems that do not communicate with each
                        other. Cancer known medically as a malignant neoplasm, is a broad group of various diseases, all
                        involving unregulated cell growth. In cancer, cells divide and grow uncontrollably, forming
                        malignant tumors, and invade nearby parts of the body. The cancer may also spread to more
                        distant parts of the body through the lymphatic system or bloodstream. Not all tumors are
                        cancerous. Benign tumors do not grow uncontrollably, do not invade neighboring tissues, and do
                        not spread throughout the body. Determining what causes cancer is complex. Many things are
                        known to increase the risk of cancer, including tobacco use, certain infections, radiation, lack
                        of
                        physical activity, poor diet and obesity, and environmental pollutants. These can directly
                        damage
                        genes or combine with existing genetic faults within cells to cause the disease. Approximately
                        five to ten percent of cancers are entirely hereditary. </p>
                    <div class="button"><span><a href="https://arxiv.org/ftp/arxiv/papers/1211/1211.4371.pdf" download>Download Article</a></span>
                    </div>
                </div>
            </div>

        </div>
        <div class="blog-grid">
            <div class="blog-grid-header">
                <h3>The United States of Diabetes:
                    Challenges and Opportunities in the Decade Ahead</h3>
                <ul>
                    <li><img src="images/cal.png" alt=""><a href="#">November 2010</a></li>
                    <li><img src="images/admin.png" alt=""><a href="#">United Health Center for Health Reform &
                        Modernization</a></li>
                </ul>
            </div>
            <div class="image group">
                <div class="grid images_3_of_1">
                    <img src="images/us of diabetes.png" height="300px" width="600px">
                </div>
                <div class="grid span_2_of_3">
                    <p>The United States of America is on track to become the United States of Diabetes. The epidemic of
                        type 2 diabetes and its warning sign, prediabetes, is sweeping across the country. By 2020, an
                        estimated
                        52 percent of the adult population will have diabetes or prediabetes. Yet shockingly, the vast
                        majority
                        more than 90 percent of people with prediabetes, and about a quarter of people with diabetes,
                        are
                        unaware of their condition.
                        This will have major implications for people's health and life expectancy. It will also make a
                        major
                        contribution to out-of-control U.S. health care costs, placing growing strain on the budgets of
                        families,
                        employers, states and the federal government. This new study estimates that health spending
                        associated
                        with diabetes and prediabetes is about $194 billion this year (approximately seven percent of
                        total U.S.
                        health spending). That cost is projected to rise to $500 billion by 2020.
                        With the goal of generating discussion and action around curbing the prevalence of diabetes,
                        this
                        working paper offers specific proposals, which use proven and transformational prevention and
                        early
                        intervention models. Our work is based on evidence-based, practical solutions derived from
                        scientific
                        research, pilot programs, and our own experience serving employer-sponsored consumers, seniors
                        and
                        people with health benefits through the public sector. </p>
                    <div class="button"><span><a
                            href="http://www.unitedhealthgroup.com/~/media/uhg/pdf/2010/unh-working-paper-5.ashx"
                            download>Download Article</a></span>
                    </div>
                </div>
            </div>

        </div>

        <div class="blog-grid">
            <div class="blog-grid-header">
                <h3>The Burden of Cardiovascular
                    Disease in California</h3>
                <ul>
                    <li><img src="images/cal.png" alt=""><a href="#">July 2007</a></li>
                    <li><img src="images/admin.png" alt=""><a href="#">David J. Reynen, Alisa S. Kamigaki, Nan Pheat and
                        Lily A. Chaput</a></li>
                </ul>
            </div>
            <div class="image group">
                <div class="grid images_3_of_1">
                    <img src="images/the-burden-of-cardiovascular-disease-in-california.jpg" height="350px"
                         width="600px">
                </div>
                <div class="grid span_2_of_3">
                    <p>As is the case nationally,
                        cardiovascular disease
                        (CVD), including heart disease, heart failure, and
                        stroke, is the leading cause of death in California,
                        accounting for more than 73,000 deaths, or almost
                        one-third of all deaths in 2004. Indeed, the total
                        number of Californians who die each year from
                        CVD is staggering. In 2004, the number of deaths
                        from CVD exceeded the number of deaths from
                        malignant neoplasms (cancer), diabetes, chronic
                        liver disease/cirrhosis, suicide, homicide, and HIV,
                        combined.
                        Furthermore, the CVD burden is experienced across
                        the California population, although some groups
                        experience the burden disproportionately. Of further
                        concern, given the changing demographics in
                        California, is that the risk of death from heart disease,
                        stroke, and heart failure increases with older age.
                        As the average length of life extends, the numbers of
                        deaths from heart disease, stroke, and heart failure
                        will increase in future years. With an ever-increasing
                        number of heart disease and stroke events, amidst a
                        healthcare system that is struggling against shrinking
                        resources, the felt burden will not be insignificant. Morbidity from CVD also takes a large toll
                        in
                        California. In 2004, the State recorded more than
                        775,000 CVD-related hospital discharges, including
                        nearly 200,000 stroke-related hospital discharges.
                        As is the case with mortality, morbidity from CVD
                        is also experienced disproportionately across the
                        State's population: males and African Americans
                        have elevated rates, as compared to other population
                        groups.</p>
                    <div class="button"><span><a
                            href="https://www.cdph.ca.gov/programs/cvd/Documents/CHDSP-BurdenReport-LowRes.pdf"
                            download>Download Article</a></span>
                    </div>
                </div>
            </div>

        </div>



        <br/>
        <div class="clear"></div>
        <!--        <div class="pagnation">
                    <ul>
                        <li><a href="#">1</a></li>
                        <li><a href="#">2</a></li>
                        <li><a href="#">3</a>&nbsp; ....</li>
                        <li><a href="#">Next</a></li>
                    </ul>
                </div>-->
    </div>
</div>
<div class="clear"></div>
<br/><br/>
<div class="footer">
    <div class="wrap">
        <div class="footer-left">
            <ul>
               <li><a href="/">Home</a></li>
			   <li><a href="/about">About</a></li>
			   <li><a href="/services">services</a></li>
			   <li><a href="/blogs">blog</a></li>
			   <li><a href="/contacts">contact</a></li>
            </ul>
        </div>
        <div class="footer-right">
            <p>MediCo | Design By MediCo</p>
        </div>
        <div class="clear"></div>
    </div>
</div>
<!--end-wrap-->
</body>
</html>

