<!DOCTYPE html>
<html>
<head>
    <title>Doctor Welcome Page</title>
    <script src="https://code.jquery.com/jquery-2.2.3.js"
            integrity="sha256-laXWtGydpwqJ8JA+X9x2miwmaiKhn8tVmOVEigRNtP4=" crossorigin="anonymous"></script>
    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css"
          integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" crossorigin="anonymous">

    <!-- Optional theme -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap-theme.min.css"
          integrity="sha384-fLW2N01lMqjakBkx3l/M9EahuwpSfeNvV63J5ezn3uZzapT0u7EYsXMjQV+0En5r" crossorigin="anonymous">

    <!-- Latest compiled and minified JavaScript -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"
            integrity="sha384-0mSbJDEHialfmuBBQP6A4Qrprq5OVfW37PRR3j5ELqxss1yVqOtnepnHVP9aJ7xS"
            crossorigin="anonymous"></script>
    <script src="https://code.highcharts.com/highcharts.js"></script>
    <script src="https://code.highcharts.com/highcharts-3d.js"></script>
    <script src="https://code.highcharts.com/modules/exporting.js"></script>
    <script>
        var genders = <%- JSON.stringify(genderJson) %>
        var monthlyPatients = <%- JSON.stringify(monthlyPatientsJson) %>
        var ages = <%- JSON.stringify(ageJson) %>
        var monthlyDiseases = <%- JSON.stringify(monthlyDiseaseJson) %>
    </script>
    <script src="/javascripts/charts/genderChart.js"></script>
    <script src="/javascripts/charts/monthlyPatientsChart.js"></script>
    <script src="/javascripts/charts/ageGroupChart.js"></script>
    <script src="/javascripts/charts/monthlyDiseaseCountChart.js"></script>
    <link rel='stylesheet' href='/stylesheets/style.css'/>
</head>
<body>
<div id="container">
    <h1 class="text-center">Welcome Doctor</h1>
    <br><br><br><br>
    <div id="genderchart" style="width: 500px; height: 400px; margin: 0 auto"></div>
    <br><br><br><br>
    <div id="monthlypatientschart" style="width: 900px; height: 400px; margin: 0 auto"></div>
    <br><br><br><br>
    <div id="agegroupchart" style="width: 500px; height: 400px; margin: 0 auto"></div>
    <div id="monthlydiseasechart" style="width: 800px; height: 400px; margin: 0 auto"></div>
</div>
</body>
</html>
